In [1]:
import pandas as pd
from ast import literal_eval

In [2]:
df = pd.read_csv('../data/both_enron.csv').drop(columns='Unnamed: 0')
df

,content,fcontent,topic,vader_sentiment,vader_sentiment_bin
0,Here is our forecast\n\n,['forecast'],"[(0, 0.012501605), (1, 0.012501605), (2, 0.012...",0.000000,Neutral
1,Traveling to have a business meeting takes the...,"['travel', 'business', 'meeting', 'take', 'fun...","[(0, 0.15656357), (1, 0.03257292), (2, 0.01856...",0.217700,Slightly Positive
2,test successful. way to go!!!,"['test', 'successful', 'way']","[(10, 0.2562595), (34, 0.5062273)]",0.195300,Slightly Positive
3,"Randy,\n\n Can you send me a schedule of the s...","['randy', 'send', 'schedule', 'salary', 'level...","[(6, 0.120515056), (18, 0.19427584), (19, 0.16...",0.000000,Neutral
4,Let's shoot for Tuesday at 11:45.,"['let', 'shoot', 'tuesday']","[(15, 0.34167174), (37, 0.3415987)]",-0.340000,Moderately Negative
...,...,...,...,...,...
98218,Effective 11/1/00 deliveries to Eastrans is 30...,"['effective', 'delivery', 'eastrans', 'mmbtudy...","[(9, 0.17084026), (18, 0.17078577), (19, 0.170...",0.476700,Moderately Positive
98219,"PW, \n\nHPL's spot and base purchases by zone ...","['pw', 'hpls', 'spot', 'base', 'purchase', 'zo...","[(8, 0.11305909), (11, 0.12829624), (15, 0.149...",0.000000,Neutral
98220,The schedule is attached. I will remind you a...,"['schedule', 'attach', 'remind', 'day', 'advan...","[(0, 0.36822718), (20, 0.09971282), (25, 0.202...",0.000000,Neutral
98221,Enron Methanol nominates the following natural...,"['enron', 'methanol', 'nominate', 'follow', 'n...","[(5, 0.2574057), (8, 0.07809814), (18, 0.33238...",0.612400,Very Positive
98222,Attached is the November 2000 nomination for o...,"['attached', 'november', 'nomination', 'take',...","[(3, 0.1033487), (7, 0.2625391), (8, 0.0954066...",0.252867,Slightly Positive

In [3]:
cond = [len(topic)<10 for topic in df.topic]

In [4]:
df[cond]['topic']

33       none
39       none
45       none
65       none
72       none
         ...
95998    none
96021    none
96032    none
96270    none
96316    none
Name: topic, Length: 538, dtype: object

In [5]:
bad_idx = df[cond]['topic'].index

In [6]:
bad_df = df.index.isin(bad_idx)

In [7]:
df2=df[~bad_df]

In [8]:
df2

,content,fcontent,topic,vader_sentiment,vader_sentiment_bin
0,Here is our forecast\n\n,['forecast'],"[(0, 0.012501605), (1, 0.012501605), (2, 0.012...",0.000000,Neutral
1,Traveling to have a business meeting takes the...,"['travel', 'business', 'meeting', 'take', 'fun...","[(0, 0.15656357), (1, 0.03257292), (2, 0.01856...",0.217700,Slightly Positive
2,test successful. way to go!!!,"['test', 'successful', 'way']","[(10, 0.2562595), (34, 0.5062273)]",0.195300,Slightly Positive
3,"Randy,\n\n Can you send me a schedule of the s...","['randy', 'send', 'schedule', 'salary', 'level...","[(6, 0.120515056), (18, 0.19427584), (19, 0.16...",0.000000,Neutral
4,Let's shoot for Tuesday at 11:45.,"['let', 'shoot', 'tuesday']","[(15, 0.34167174), (37, 0.3415987)]",-0.340000,Moderately Negative
...,...,...,...,...,...
98218,Effective 11/1/00 deliveries to Eastrans is 30...,"['effective', 'delivery', 'eastrans', 'mmbtudy...","[(9, 0.17084026), (18, 0.17078577), (19, 0.170...",0.476700,Moderately Positive
98219,"PW, \n\nHPL's spot and base purchases by zone ...","['pw', 'hpls', 'spot', 'base', 'purchase', 'zo...","[(8, 0.11305909), (11, 0.12829624), (15, 0.149...",0.000000,Neutral
98220,The schedule is attached. I will remind you a...,"['schedule', 'attach', 'remind', 'day', 'advan...","[(0, 0.36822718), (20, 0.09971282), (25, 0.202...",0.000000,Neutral
98221,Enron Methanol nominates the following natural...,"['enron', 'methanol', 'nominate', 'follow', 'n...","[(5, 0.2574057), (8, 0.07809814), (18, 0.33238...",0.612400,Very Positive
98222,Attached is the November 2000 nomination for o...,"['attached', 'november', 'nomination', 'take',...","[(3, 0.1033487), (7, 0.2625391), (8, 0.0954066...",0.252867,Slightly Positive

In [9]:
from operator import itemgetter
def topic_max(a):
    c=a[1:-1]
    try:
        
        b=list(literal_eval(c))
        if len(b) == 1:
            idx = b[0][0]
        else:
            idx=  max(b,key=itemgetter(1))[0]
        return topic_names[idx]
    except:
        print(a)

In [10]:
def find_all(s,c):
    idx1 = s.find(c)
    while idx1 != -1:
        yield idx1
        idx1 = s.find(c,idx1+1)

In [11]:
def topic2list(i, topic_names):
    s = df2['topic'][i]
    b1 = list(find_all(s,'('))
    b2 = list(find_all(s,')'))
    score = 0
    for j in range(len(b1)):
        t1,t2 = literal_eval(s[b1[j]:b2[j]+1])
        if score < t2:
            df2['Topic'][i] = topic_names[t1]
            score = t2

In [12]:
df2 =df2.reset_index()

In [13]:
df2['Topic'] = ''
topic_names = ['Winter Olympics', 'Human Accomplishments', 'Natural Disaster', 'Governance', 'Education', 'Navy', 'Games', 'Culture', 'Medieval History', 'Travel', 'Weaponry', 'London', 'Modern History', 'University', 'Football', 'Journalism', 'Archaeology', 'Volcano', 'Engineering', 'Towns', 'Zoology', 'Astronomy', 'Government', 'Empires', 'Nature', 'War', 'Infrastructure', 'Archives', 'Middle-East', 'Pacific War','Justice', 'Entertainment Industry', 'Ecology', 'Terhune', 'Literature', 'Royalty', 'Internal Affairs', 'Hunting', 'Labour Camps', 'Revolutionary War']
for i in range(len(df2)):
    topic2list(i,topic_names)

<ipython-input-11-6debc602876b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Topic'][i] = topic_names[t1]

In [14]:
range(len(df2))

range(0, 97685)

In [15]:
df2.iloc[(-1)]

index                                                              98222
content                Attached is the November 2000 nomination for o...
fcontent               ['attached', 'november', 'nomination', 'take',...
topic                  [(3, 0.1033487), (7, 0.2625391), (8, 0.0954066...
vader_sentiment                                                 0.252867
vader_sentiment_bin                                    Slightly Positive
Topic                                                            Culture
Name: 97684, dtype: object

In [16]:
df.head(10)

,content,fcontent,topic,vader_sentiment,vader_sentiment_bin
0,Here is our forecast\n\n,['forecast'],"[(0, 0.012501605), (1, 0.012501605), (2, 0.012...",0.0000,Neutral
1,Traveling to have a business meeting takes the...,"['travel', 'business', 'meeting', 'take', 'fun...","[(0, 0.15656357), (1, 0.03257292), (2, 0.01856...",0.2177,Slightly Positive
2,test successful. way to go!!!,"['test', 'successful', 'way']","[(10, 0.2562595), (34, 0.5062273)]",0.1953,Slightly Positive
3,"Randy,\n\n Can you send me a schedule of the s...","['randy', 'send', 'schedule', 'salary', 'level...","[(6, 0.120515056), (18, 0.19427584), (19, 0.16...",0.0000,Neutral
4,Let's shoot for Tuesday at 11:45.,"['let', 'shoot', 'tuesday']","[(15, 0.34167174), (37, 0.3415987)]",-0.3400,Moderately Negative
5,"Greg,\n\n How about either next Tuesday or Thu...","['greg', 'tuesday', 'thursdayphillip']","[(0, 0.012504521), (1, 0.012504521), (2, 0.012...",0.0000,Neutral
6,Please cc the following distribution list with...,"['cc', 'follow', 'distribution', 'list', 'upda...","[(9, 0.14559065), (21, 0.16008767), (28, 0.155...",0.7579,Very Positive
7,any morning between 10 and 11:30,['morning'],"[(0, 0.012501082), (1, 0.012501082), (2, 0.012...",0.0000,Neutral
8,1. login: pallen pw: ke9davis\n\n I don't thi...,"['login', 'pallen', 'pw', 'kedavis', 'think', ...","[(8, 0.12815158), (18, 0.3756194), (27, 0.2544...",0.0000,Neutral
9,"Mr. Buckner,\n\n For delivered gas behind San ...","['mr', 'buckner', 'deliver', 'gas', 'san', 'di...","[(1, 0.071773425), (7, 0.1056442), (14, 0.0722...",0.0876,Slightly Positive

In [17]:
df2[['vader_sentiment_bin','Topic']].value_counts()

vader_sentiment_bin  Topic
Slightly Positive    Government                11672
                     Entertainment Industry     8673
Moderately Positive  Government                 4001
                     Entertainment Industry     3536
Slightly Positive    Literature                 3390
                                               ...
Extremely Positive   Royalty                       1
                     Weaponry                      1
Extremely Negative   War                           1
                     Engineering                   1
                     Towns                         1
Length: 318, dtype: int64

In [18]:
def split_other_content(i):
    """split other forms of contents out"""
    return i.split('---', 1)[0]
df2['content'] = df2.content.map(split_other_content)

In [19]:
def split_other_content1(i):
    """split other forms of contents out"""
    return i.split('To:', 1)[0]
df2['content'] = df2.content.map(split_other_content1)

In [21]:
c=0
for i in range(len(df2)):
    if len(df2['content'][i].split())>500:
        df2 = df2.drop(i)
        c += 1

In [22]:
c

5430

In [23]:
len(df2)

92255

In [24]:
df2 = df2[(df2.content != ' ')]

In [25]:
len(df2)

92192

In [26]:
df2.to_csv('../data/complete_enron.csv')